# Copy this file to .env and fill in your secret values.
WIFI_SSID=YOUR_WIFI_SSID
WIFI_PASSWORD=YOUR_WIFI_PASSWORD
MQTT_BROKER=YOUR_MQTT_BROKER
MQTT_CLIENT_ID=YOUR_MQTT_CLIENT_ID
MQTT_TOPIC_TEXT=baarian/text_message
MQTT_TOPIC_AUDIO=baarian/audio_message
MQTT_TOPIC_RESET=baarian/reset_status
